* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-color: #B22028;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

h1{
    margin-top: 22px;
}

h1, .text-white{
    color:#fff;
}

header p{
    font-size: 24px;
}

#sketch-area {
    display: flex;
    flex-wrap: wrap;
    background-color: #222;
    margin: 50px auto 0 auto;
    outline: thick double #32a1ce;
}

.cell {
    border: 1px solid #fff;
}

#slider-container {
    margin: 30px auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.slider {
    appearance: none;
    height: 25px;
    width: 50%;
    background: rgba(200,255,238,0.721);
    outline: none;
    opacity: 0.7;
    transition: opacity .3s;
}

#slider-value{
    margin: 0 auto;
    text-align: center;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: gold;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background-color: gold;
    cursor: pointer;
}